.container {
  background-color: var(--back-header);
  display: grid;
  place-items: center;
  align-content: center;
  grid-template-columns: 50% 40% 10%;
  grid-template-areas: 
    'title . menu'
    '. . .'
    'responsive responsive responsive'
  ;
  padding: 16px;
  margin-bottom: 32px;
  height: 100px;
}

.container .responsive_title {
  grid-area: title;
  color: white;
  font-weight: 900;
  font-size: 2.8rem;
}

.container .menu_bars {
  grid-area: menu;
}

.menu_check {
  display: none;
}

.menu_check:checked ~ .menu {
  visibility: visible;
  opacity: 1;
}

.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100.5px;
  left: 0;
  grid-area: responsive;
  background-color: var(--back-header);
  width: 100%;
  z-index: 99;
}

.menu h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: center;
}

.menu h1 .logoBV {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.menu a {
  display: block;
  border-bottom: .5px solid black;
  padding: 16px 24px;
  font-size: 2.3rem;
  margin: 4px 0;
  color: white;
  font-weight: 300;
}

.menu a:first-child {
  margin-top: 0;
}

.menu a:last-child {
  margin-bottom: 0;
}

@media(min-width: 1000px) {
  .container {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
  }

  .responsive_title, .menu_bars {
    display: none;
  }

  .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
    background-color: transparent;
    display: flex;
    padding-left: 40px;
  }

  .menu h1 {
    display: grid;
    grid-template-columns: 30px 150px;
    gap: 0;
  }

  .menu a {
    border: none;
    color: black;
  }

  .menu a.responsive_homepage_link {
    display: none;
  }
}