.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  min-height: calc(100vh - 230px);
}

.slider {
  width: 100%;
  max-width: 500px;
  height: 32vw;
  max-height: 350px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid white;
  box-shadow: 4px 4px 4px -4px black;
}

.slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 50% 50%;

  transition: opacity 0.8s;
}

.container main {
  margin-top: 24px;
}

.container main h2 {
  margin-left: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #254e70;
}

.container main a.link {
  margin: 16px;
  font-weight: 800;
  font-size: 1.5rem;
}

.items_container {
  margin: 0 auto;
  padding: 8px;

  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .container {
    max-width: 650px;
  }

  .slider {
    max-width: 800px;
    max-height: 380px;
  }

  .items_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 980px;
  }

  .slider {
    max-width: 950px;
  }

  .items_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
