.container {
  width: 100%;
  background-color: var(--back-footer);
  display: grid;
  gap: 12px;
  place-items: center;
  padding: 16px 24px;
  margin-top: 32px;
}

.container p {
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
}

.container a {
  color: white;
  font-weight: 400;
  font-size: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container a .icons {
  margin-right: 4px;
}