@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

@import 'react-circular-progressbar/dist/styles.css';

:root {
  --back-color: #F0F0F5;
  --back-header: #4C191B;
  --back-header-light: #592B19;
  --back-footer: #100c08;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color:  rgba(0, 0, 0, .15);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(24, 142, 211);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(7, 117, 180);
}

img#selected {
  opacity: 1;
}