.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.slider {
  width: 80%;
  max-width: 500px;
  height: 25vw;
  max-height: 150px;
  position: relative;
}

.slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: opacity .8s;
}

.container main {
  margin-top: 24px;
}

.container main h2 {
  margin-left: 16px;
  text-transform: uppercase;
  color: #254E70;
}

.items_container {
  margin: 0 auto;
  padding: 8px;

  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}