.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
/* 
.banner_container {
  
} */

.container main {
  margin-top: 24px;
}

.container main h2 {
  margin-left: 16px;
  text-transform: uppercase;
  color: #254E70;
}

.items_container {
  margin: 0 auto;
  padding: 8px;

  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}